body{
    overflow-x: hidden;
    padding: 0vh 0vw 10vh 5vw;
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 3vmax;
    font-weight: bold;
    color: white;
    animation: fade-in-init 1.5s ease-in;
}

@keyframes fade-in-init { 
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.hero{
    margin-top: -10vmin;
    margin-bottom: -5vmin;
    font-size: 12vmin;
}

.intro{
    padding-right: 5vw;
    opacity: 0%;
    animation: fade-in-runtime linear;
    animation-timeline: view();
}

.activity{
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 15vh;
    opacity: 0%;
    animation: fade-in-runtime linear;
    animation-timeline: view();
}

.projects{
    margin-left: -5vw;
}

.project-tile{
    position: relative;
    opacity: 0%;
    animation: fade-in-runtime linear;
    animation-timeline: view();
    
}
.image-text{
    position: absolute;
    
    bottom: 32px;
    left: 32px;
}

@keyframes fade-in-runtime{
    0%{
        opacity: 0%;
    }
    35%{
        opacity: 100%;
    }
    65%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.highlight{
    color: #dd0000
}
